<div class="basket">
  <app-basket-header
    class="basket__header"
    [title]="
      orderStep === orderStepEnum.Confirmation ? 'Your order' : 'Payment'
    "
    (close)="onClose()"
  ></app-basket-header>
  <div class="basket__items">
    <app-order-summary-item
      class="basket__item"
      *ngFor="let item of basketItems$ | async"
      [item]="item"
    ></app-order-summary-item>
  </div>
  <div class="basket__summary">
    <div class="basket__summary-item">
      <span>Subtotal</span><app-price-tag [price]="13.99"></app-price-tag>
    </div>
    <div class="basket__summary-item">
      <span>Delivery fee</span><app-price-tag [price]="deliveryFee"></app-price-tag>
    </div>
    <div class="basket__summary-item">
      <span>Total</span><app-price-tag [price]="16.99"></app-price-tag>
    </div>
  </div>
  <button (click)="updateBasket()">Update basket</button>
</div>
