.circle {
  border-radius: 50%;
  display: inline-block;
  line-height: 0;
  padding: 0.225rem;
  color: var(--ui-color-black);
  font-size: var(--font-size-14);
  font-weight: 700;
  &__inner {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 0.225rem;
    margin-right: 0.225rem;
  }

  &--orange {
    background-color: var(--ui-color-orange);
    color: var(--ui-color-white);
  }
  &--white {
    background-color: var(--ui-color-white);
    color: var(--ui-color-black);
  }
}
