.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.5rem;
  color: var(--ui-color-black);
  font-size: var(--font-size-14);
  font-weight: 700;
  min-width: 0.875rem;
  min-height: 0.875rem;
  width: auto;
  height: auto;
  box-sizing: content-box;

  &--orange {
    background-color: var(--ui-color-orange);
    color: var(--ui-color-white);
  }
  &--white {
    background-color: var(--ui-color-white);
    color: var(--ui-color-black);
  }
}
