.basket-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: var(--font-size-24);
    font-family: var(--font-family-700);
    font-weight: 700;
  }
}
