:host {
  display: flex;
}
.ui-icon {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  display: inline-block;
  cursor: pointer;


  &--l {
    width: 1.25rem;
    height: 1.25rem;
  }

  &--xl {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    opacity: 0.75;
  }
}
