:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --padding: 16px;
  --ui-color-white: #fff;
  --ui-color-orange: #F64E0C;
  --font-color-dark-grey: #404B5A;
  --ui-color-black: #12131A;
  --bg-color-grey: #EBE7E7;
  --bg-color-light-grey: #F7F7F7;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-24: 1.5rem;
}
