.menu {
  width: 100%;
  padding: 0.625rem;
  background-color: var(--ui-color-white);
  border-radius: 0.75rem;

  &__chip {
    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }

  &__controls {
    padding: 1.625rem 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__dishes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }
}
