.menu {
  width: 100%;
  height: 500px;
  background-color: pink;
  padding: 0.625rem;

  &__chip {
    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }

  &__controls {
    padding: 1.625rem 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
