<div class="menu">
  <app-menu-header></app-menu-header>
  <div class="menu__controls">
    <div class="menu__chips">
      <app-chip
        *ngFor="let category of categories$ | async; let i = index; trackByString"
        class="menu__chip"
        [text]="category"
        [isActive]="category === (activeCategory$ | async)"
        (click)="updateActiveCategory(category)"
      ></app-chip>
    </div>
    <app-search-input class="menu__search" (search)="updateSearchQuery($event)"></app-search-input>
  </div>
  <div class="menu__dishes">
    <div *ngFor="let dish of dishes$ | async; let i = index; trackBy: trackById">
      <app-menu-card [dish]="dish"></app-menu-card>
    </div>
  </div>
</div>
